@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-900: #312e81;
}

@layer base {
  body {
    background-color: #ffffff;
    color: #0f172a;
  }
}
